<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<mappers>
	<mapper resource="nfc/sql/orderSql.xml"/>
	<mapper resource="nfc/sql/invenSql.xml"/>
	<mapper resource="nfc/sql/salesSql.xml"/>
	<mapper resource="nfc/sql/warehousingSql.xml"/>
</mappers>
</configuration>